.m-home{
	@include flexbox();
	@include flex-direction(column);
	@include flex(1);
	width:100%;
	height:100%;
	header{
	   height:.44rem;
	   background:#0cc140;
	   >ul{
	      @include flexbox();
	      width:100%;
	      height:100%;
	      position:relative;
	      >li{
	          width:.44rem;
	          height:100%;
	          color:#fff;
	          font-size:.2rem;
	          text-align:center;
	          &.menu{
	              position:absolute;
	              top:.05rem;
	              left:.08rem;
	          }
	          &.sm{
	              position:absolute;
	              top:.07rem;
	              right:.08rem;
	          }
	          &:nth-child(2){
	             @include flexbox();
	             @include flex(1);
	             @include justify-content(center);
	             @include align-items(center);
	             ul{
	                width:1.18rem;
	                height:0.25rem;
	                background:#abcdef;
	                @include flexbox();
	                font-size:.12rem;
	                color:rgba(255,255,255,0.7);
	                background:rgba(100,217,133,0.7);
	                @include border-radius(.5rem);
	                overflow:hidden;
	                li{
	                   width:0.59rem;
	                   height:.25rem;
	                   text-align:center;
	                   line-height:.25rem;
	                   &.active{
	                       color:rgba(255,255,255,1);
	                       background:rgba(100,217,133,1);
	                   }
	                }
	             }
	          }
	      }
	   }
	}
	.home-section{
		@include flexbox();
		@include flex(1);
		width:100%;
		height:100%;
		@include flex-direction(column);
		nav{
		   height:.35rem;
		   ul{
		       @include flexbox();
		       width:100%;
		       height:100%;
		       li{
		           @include flex(1);
		           height:100%;
		           text-align:center;
		           line-height:.35rem;
		           color:#666;
		           @include box-sizing(border-box);
		           @include border(0 0 1px 0,#d9d9d9);
		           &.active{
		              color:#519765;
		              @include border(0 0 0 0,#d9d9d9);
		              border-bottom:2px solid #519765;
		           }
		       }
		   }
		}
		.section-content{
			@include flex(1);
			width:100%;
			height:100%;
			.home-scroll{
			   padding:0.05rem 0 0 0;
			   ul{
			      @include flexbox();
			      width:100%;
			      li:not(:nth-child(2)){
			         @include flex(1);
			         img{
			            width:100%;
			            height:100%;
			         }
			         b{
			            display:block;
			            padding:0.07rem 0.05rem;
			            font-size:.12rem;
			         }
			      }
			      li:nth-child(2){
			         width:0.06rem;
			      }
			      li.hide{
			         visibility:hidden;
			      }
			   }
			   .head{
			     text-align: center;
			     height: .3rem;
			     line-height: .3rem;
			     img {
			       width: .13rem;
			       height: .13rem;
			       margin-bottom: 0.02rem;
			       display: inline-block;
			       transform: rotate(180deg);
			       -webkit-transform: rotate(180deg);
			       transition: transform 150ms;
			       -webkit-transition: transform 150ms;
			     }
			   }
			   .foot{
			     text-align: center;
			     height: .3rem;
			     line-height: .3rem;
			     img {
			       width: .13rem;
			       height: .13rem;
			       margin-bottom: 0.04rem;
			       display: inline-block;
			       transition: transform 150ms;
			       -webkit-transition: transform 150ms;
			     }
			   }
			   .up {
			     transform: rotate(360deg) !important;
			     -webkit-transform: rotate(360deg) !important;
			   }
			   .down {
			     transform: rotate(180deg) !important;
			     -webkit-transform: rotate(180deg) !important;
			   }
			}
		}
	}
}