.m-container{
   @include flexbox();
   @include flex();
   width:100%;
   @include flex-direction(column);
   .m-wrapper{
   	   @include flex(1);
   	   width:100%;
   }
   footer{
   	   height:0.44rem;
   	   background:#fff;
   	   font-size:.14rem;
       z-index:11111;
   	   ul{
   	   	   @include flexbox();
   	   	   height:0.44rem;
   	   	   @include box-sizing();
   	   	   @include border(1px 0 0 0,#333);
   	   	   position:relative;
   	   	   li{
   	   	   	   @include flex();
   	   	   	   @include box-sizing();
   	   	   	   height:0.44rem;
   	   	   	   padding-top:0.05rem;
   	   	   	   text-align:center;
   	   	   	   &:nth-child(3){
   	   	   	   	   i{
                      position:absolute!important;
                      background:#fff;
                      left:50%;
                      top:-0.06rem;
                      width:0.5rem;
                      height:0.5rem;
                      @include border(1px,#333,solid,50%);
                      @include transform(translate(-50%,0));
                      z-index:1001;
                      font-size:.38rem;
                      line-height:0.5rem;
   	   	   	   	   }
   	   	   	   }
   	   	   	   i,b{
   	   	   	   	   display:block;
   	   	   	   }
   	   	   	   i{
   	   	   	   	   font-size:0.15rem;
   	   	   	   }
   	   	   	   b{
   	   	   	   	   margin-top:-0.05rem;
   	   	   	   	   font-weight:normal;
   	   	   	   }
   	   	   }
   	   }
   }
}